/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

/*	Generally, you will only want one container element in
	the document, wrapping around the main content area.
	If you have more than one container, you are probably doing
	something wrong.
*/
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
}

.nav {
    width: 100%;
    background-color: white;
		padding-left: 2em;
		padding-right: 2em;
		color: #6C97FF;
		padding-top: 1em;
		padding-bottom: 1em;
}

.navpart2 {
    text-align: right;
    font-size: 1.5em;
    display: inline-block;
    width: 50%;
    top: -1em;
    position: relative;
}

.navpart2 a {
	margin-left: 0.5em;
}

.material-icons.md-size { font-size: 60px; }

.title {
    font-size: 5em;
    font-family: "Oswald";
    width: 49%;
    display: inline-block;
}

.intropic {
    background-color: grey;
    background-image: url(../img/background.jpg);
    background-size: cover;
    display: grid;
    text-align: center;
    color: white;
    font-size: 10vh;
    line-height: 10vh;
    padding-bottom: 5vw;
    padding-top: 5vw;
    font-family: "Oswald";
    margin-bottom: 1em;
}

.content {
	padding-left: 5em;
	padding-right: 5em;
}

.header {
	line-height: 1em;
    font
}

.brief {
    font-size: 1.5em;
    line-height: 1.25em;
}

.boxes {
	display: grid;
	grid-template-columns: 1fr .25fr 1fr .25fr 1fr;
}

.box1 {
	background-color: grey;
	grid-column: 1/2;
	height: 15rem;
  background-image: url(../img/snowden.jpg);
  background-size: cover;
  background-position: center;
}

.box2 {
	background-color: grey;
	grid-column: 3/4;
	height: 15rem;
	background-image: url(../img/berners-lee.jpg);
	background-size: cover;
	background-position: center;
}

.box3 {
	background-color: grey;
	grid-column: 5/6;
	height: 15rem;
	background-image: url(../img/poitras.jpg);
	background-size: cover;
	background-position: center;
}

.boxlink {
    color: white;
		text-align: center;
		padding-top: 12rem;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
		font-size: 1.25em;
}

.footer {
    background-color: dimgrey;
    margin-bottom: -1em;
    margin-top: 1em;
    color: white;
    text-align: center;
    display: grid;
}
.title:hover {
	color: #FF8345;
}

a:hover {
  color: #FF8345;
}

a {
	color: #6C97FF;
	text-decoration: none;
}

a:visited {
	color: #6C97FF;
}

.roster{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-items: center;
}

.speakers {
    border-radius: 50%;
    max-height: 250px;
    text-align: center;
}
.speakername{
    text-align: center;
}

.speakerbio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.name {
    text-align: center;
    font-size: 7vh;
    line-height: 1em;
    margin-top: 15vw;
}

.bigdata{
    text-align: center;
}

.speaker-big{
    border-radius: 50%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.regpic {
    background-color: grey;
    background-image: url(../img/register.jpg);
    background-size: cover;
    display: grid;
    text-align: center;
    color: white;
    font-size: 5vh;
    line-height: 5vh;
    padding-bottom: 7vw;
    padding-top: 7vw;
    font-family: "Oswald";
    margin-bottom: 1em;
}
.registration {
	display: grid;
	grid-template-columns: 1fr .5fr 1fr .5fr 1fr;
}

.column1 {
	grid-column: 1/2;
}

.column2 {
	grid-column: 3/4;
}

.column3 {
	grid-column: 5/6;
}

.schedulepic {
    background-color: grey;
    background-image: url(../img/schedule.jpg);
    background-size: cover;
    display: grid;
    text-align: center;
    color: white;
    font-size: 5vh;
    line-height: 5vh;
    padding-bottom: 7vw;
    padding-top: 7vw;
    font-family: "Oswald";
    margin-bottom: 1em;
}

.aboutpic {
    background-color: grey;
    background-image: url(../img/about.jpg);
    background-size: cover;
    display: grid;
    text-align: center;
    color: white;
    font-size: 5vh;
    line-height: 5vh;
    padding-bottom: 7vw;
    padding-top: 7vw;
    font-family: "Oswald";
    margin-bottom: 1em;
}

.abouttext{
    font-size: 1.25em;
    line-height: normal;
}

@media (max-width: 800px){
		.nav {
			text-align: center;
		}

    .title {
				font-size: 4em;
				margin-left: auto;
				margin-right: auto;
				width: 232px;
    }

    .navpart2 {
        position:static;
        width: 100%;
        text-align: center;
    }

    .intropic {
        background-position: center;
				font-size: 8vh;
    }

		.content {
			padding-left: 5em;
			padding-right: 5em;
		}

    .boxes{
        display: block;
    }

		.box1{
			display: block;
		}

		.box2{
			display: block;
		}

		.box3{
			display: block;
		}

		.roster{
			margin-left: -3em;
			margin-right: -3em;
		}
		.registration {
			display: block;
		}
        
        .speakerbio {
            display: block;
        }
    
    .name {
        margin-top: 0em;
    }
}
